#head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100vw;
}

#mainLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  width: 100vw;

  margin-top: 1vh;
}

.login-box {
  scale: 1.8;
  padding: 40px;
  background: #1c1c1c;

  animation: gradient 15s ease infinite;

  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: transparent;
  background: linear-gradient(
    to left,
    #6bc5f8,
    #cf59e6,
    #6bc5f8,
    #cf59e6,
    #6bc5f8,
    #cf59e6,
    #6bc5f8,
    #cf59e6,
    #6bc5f8,
    #cf59e6,
    #6bc5f8,
    #cf59e6,
    #6bc5f8,
    #cf59e6,
    #6bc5f8,
    #cf59e6
  );
  background-clip: text;
  background-size: 5000px 5000px; /* Updated value */
  animation: gradientMove 30s linear infinite;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  caret-color: white;
  filter: saturate(200%);
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 2em;
  font-weight: 800;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  animation: flickering 2s linear infinite both;
  color: rgb(255, 255, 255);
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;

  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 800;
  background: transparent;
  font-size: 2em;
  font-weight: 800;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  animation: flickeing 2s linear infinite both;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: 0;
}

.btn:hover {
  border-radius: 5px;
  animation: gradient 3s linear infinite;
}

.login-box button {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box button::before {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  font-size: 1.5em;
  font-weight: 800;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes flickeing {
  0%,
  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
    box-shadow: 0px 0px 5px #cf59e6, 0px 0px 10px #6bc5f8, 0px 0px 50px #6bc5f8;
  }

  50% {
    background-position: 100% 50%;
    box-shadow: 0px 0px 10px #cf59e6, 0px 0px 50px #cf59e6;
  }

  100% {
    background-position: 0 50%;
    box-shadow: 0px 0px 5px #cf59e6, 0px 0px 10px #6bc5f8, 0px 0px 50px #6bc5f8;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 150% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
